body {

}

a {
  color: #00B7FF;
}

.text-right{
  text-align: right;
}


#card-dialog{
  width: 400px;
  height: 600px;
  overflow: hidden;

}
@media (max-width: 475px){
  #card-dialog{
    width: 250px;
    height: 450px;

  }

}
