body {

}

a {
  color: #00B7FF;
}

.text-right{
  text-align: right;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}